/* src/components/HeroSection.css */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #000000cc, #1f1f1fdd),
    url("https://images.unsplash.com/photo-1531496743007-09c64aa1a1d7?auto=format&fit=crop&w=1350&q=80")
      no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #ccc;
}

.highlight {
  color: #0d6efd;
}
